{% extends 'accueil.html.twig' %}

{% block section %}
<div class="bg">
<div class="block_container">
	
	<div class="accueil_block1">
		<a href="{{ path('camping_index') }}"><img src="{{ asset('public/img/backlinks.jpeg') }}"></a>
	</div>

</div>
</div>
{% endblock %}
