{% extends 'backlinks.html.twig' %}

{% block title %}
    Création d'une ville
{% endblock %}

{% block section %}
    
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Création d'une ville</div>
        <div class="panel-body">
          <div class="container col-md-10 col-md-offset-1">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <hr>
                    <table>
                        <tr>
                            <td><input type="submit" value="Créer une ville" class="button" >
                            {{ form_end(form) }}
                            </td>
                            <td>
                            <div class="buttonLink">
                                <a href="{{ path('ville_index') }}">Retour à la liste</a>
                            </div>
                        </td>
                      </tr>
                    </table>

{% endblock %}
