/* line 1, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/accueil.scss */
.block_container {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 175px;
}

/* line 6, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/accueil.scss */
.block_container .accueil_block1 {
  width: 25%;
  height: 40%;
  margin: 10% auto;
  border-radius: 10px;
  background-color: #ffffff;
}

/* line 12, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/accueil.scss */
.block_container .accueil_block1 img:hover {
  opacity: 0.75;
}

/* line 16, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/accueil.scss */
.block_container .accueil_block1 img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 15px 0 rgba(0, 0, 0, 0.3);
}

/* line 1, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.header_container {
  height: 150px;
  display: flex;
}

/* line 6, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.logo_container {
  width: 35%;
  left: 0px;
  background-color: white;
}

/* line 12, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.logo img {
  height: 150px;
  width: 100%;
}

/* line 17, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.header_title {
  text-align: center;
  background-color: white;
  width: 65%;
}

/* line 21, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.header_title h1 {
  font-size: 100px;
  margin: 0.2em;
  color: #929294;
}

@media (max-width: 1380px) {
  /* line 21, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
  .header_title h1 {
    font-size: 6em;
    margin: 0.23em;
  }
}

/* line 33, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
.accueil_title {
  margin-right: 15% !important;
}

/* line 37, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/header.scss */
#endHeader {
  background-color: #f59331;
  height: 10px;
  margin: 0 0 0 0;
}

/* line 1, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.navbar {
  background-color: #f59331;
  color: #ffffff;
  border: none;
}

/* line 8, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.navbar-nav a {
  color: #fff !important;
}

/* line 10, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.navbar-nav a:hover {
  background-color: #fff !important;
  color: #f59331 !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

/* line 20, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.navbar-inverse .navbar-nav > .open > a {
  background-color: #f59331;
  color: #ffffff;
}

/* line 25, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #ffffff;
  color: #f59331 !important;
}

/* line 30, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.dropdown-menu {
  border-style: none;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

/* line 37, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.dropdown-menu li a {
  height: 50px;
  line-height: 45px;
  color: #f59331 !important;
}

/* line 43, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.dropdown-menu > li > a:hover {
  background-color: #80577c;
  color: #f59331;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 53, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/menu.scss */
.dropdown .open {
  background-color: #f59331;
}

/* line 1, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
h1 {
  margin-left: 3%;
}

/* line 4, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
h2 {
  margin-left: 3%;
}

/* line 8, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
table {
  margin-left: 3%;
}

/* line 12, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
hr {
  border-color: #cccccc;
}

/* line 15, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#separate {
  width: 75%;
}

/**Les Formulaires**/
/* line 21, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* line 32, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* line 44, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

/* line 48, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/* line 53, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form .register-form {
  display: none;
}

/* line 59, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#seobundle_form label, #userbundle_form label, #seobundle_form_nomCamping label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 64, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#seobundle_form input, #userbundle_form input, #seobundle_form_nomCamping input {
  display: block;
  border-radius: 5px;
  background-color: #ffc;
  opacity: 2;
  width: 210px;
}

/* line 72, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#seobundle_form select, #userbundle_form select, #seobundle_form_nomCamping select {
  border-radius: 5px;
  padding: 5px;
  width: 210px;
}

/**Page Login**/
/* line 82, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

/* line 89, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.bg {
  background: url(../img/login.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/**Bouttons**/
/* line 104, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0AC375;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 15px;
}

/* line 120, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonSup {
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  background-color: #c6356a;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
}

/* line 129, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonSup:hover {
  opacity: 0.5;
}

/* line 135, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonLink, .buttonAdd, .buttonAddBottom {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-decoration: none;
}

/* line 140, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonLink a, .buttonAdd a, .buttonAddBottom a {
  background-color: #33b7c0;
  color: #fff;
  opacity: 1;
  padding: 13px;
  border-radius: 5px;
}

/* line 147, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonLink a:hover, .buttonAdd a:hover, .buttonAddBottom a:hover {
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 159, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonAdd {
  right: 2%;
  position: absolute;
  margin-top: 28px;
}

/* line 165, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.buttonAddBottom {
  margin-left: 3%;
  margin-top: 20px;
}

/* line 170, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.addBottom {
  display: flex;
}

/* line 174, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.formHead {
  display: flex;
}

/* line 179, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.button {
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  background-color: #33b7c0;
  opacity: 1;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* line 191, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.button:hover {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 199, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.form button:hover, .form button:active, .form button:focus {
  background: #0cf090;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 207, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.settings_accueil {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
}

/* line 214, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.settings_backlinks {
  position: absolute;
  top: 155px;
  right: 50px;
  z-index: 1;
  font-size: 25px;
}

/* line 222, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.btn-lg {
  padding: 7px 8px 4px 7px;
}

/* line 226, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.btn-info {
  background-color: #f59331;
  border-color: #f59331;
}

/* line 229, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.btn-info:hover {
  background-color: #f59331;
  opacity: 0.8;
}

/* line 233, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.btn-info:focus {
  background-color: #f59331;
}

/**Checkbox**/
/* line 241, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.checkbox_form label {
  width: 150px;
  display: inline-block !important;
  width: 97% !important;
  margin: 0 !important;
}

/* line 247, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.checkbox_form input {
  display: inline-block !important;
  width: 3% !important;
  margin: 0 !important;
}

/**Les Tableaux**/
/* line 258, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.panel {
  margin-top: 50px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  color: #777;
  border-style: none;
}

/* line 265, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.panel .panel-heading {
  font-size: 25px;
  font-weight: lighter;
  background-color: #33b7c0;
  color: #FFFFFF;
  padding: 5px;
}

/* line 271, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.panel .panel-heading a {
  color: #ffffff;
  font-weight: lighter;
  font-size: 25px;
  margin-left: 15px;
}

/* line 276, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.panel .panel-heading a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 287, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
table.dataTable {
  border-radius: 5px;
  box-shadow: 10px 10px 5px #888888;
}

/* line 293, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
thead {
  background-color: #33b7c0;
  color: #fff;
}

/* line 298, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.table {
  width: 95%;
  margin: auto;
}

/* line 302, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.table td {
  border: 1px solid #ddd !important;
}

/* line 305, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.table tr {
  border: 1px solid #ddd !important;
}

/* line 310, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#tableau {
  width: 95% !important;
}

/* line 312, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#tableau .link {
  margin-top: 15px !important;
  text-align: center;
}

/* line 319, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
section .row {
  margin: 20px;
}

/* line 323, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

/* line 331, C:/wamp/www/projet_seo/SEO/web/public/sass/layout/main.scss */
#tableau_lengh label {
  margin-left: 2.5% !important;
  width: 45% !important;
}

/*# sourceMappingURL=../CSS/style.map */