.header_container {
	height: 150px;
	display:flex;
}
.logo_container {
	width: 35%;
	left: 0px;
	background-color: white;
}
.logo {
	img {
		height: 150px;
		width:100%;
	}
}
.header_title{
	text-align: center;
	font-size: 50px;
	background-color: white;
	width: 65%;
	h1 {
		margin:0.2em;
		color:#929294;
		@media (max-width: 1380px) {
			font-size: 1.7em;
			margin:0.23em;
		}

	}
}