{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'accueil.html.twig' %}

{% block section %}
    <h1>Page non trouvée</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {# ... #}
    {% endif %}

    <p>
        Oups ! La page que vous cherchez n'a pas pu être trouvée !
    </p>
    <a href="javascript:history.go(-1)">Retour</a>
{% endblock %}
