{% extends 'base.html.twig' %}

{% block title %}
    Connection
{% endblock %}

{% block section %}
	{% if error %}
	    <div class="alert alert-danger">{{ error.message }}</div>
	{% endif %}
	<div class="bg"></div>
			<div class="login-page">
                <div class="form">
	                 <form action="{{ path('login_check') }}" method="post" >
	                    
	                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username}}" placeholder="Nom d'utilisateur"/>

	                    

	                    <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe"/>
	                    	<br />
	                    <button type="submit">Se connecter</button>
	                </form>
	            </div>
	        </div>   
	            
	
{% endblock %}