{% extends 'backlinks.html.twig' %}

{% block title %}
    Création d'un département
{% endblock %}

{% block section %}
    
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">Création d'un département</div>
        <div class="panel-body">
          <div class="container col-md-10 col-md-offset-1">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <hr>
                    <table>
                      <tr>
                        <td><input type="submit" value="Créer un département" class="button" >
                          {{ form_end(form) }}
                        </td>
                        <td>
                          <div class="buttonLink">
                            <a href="{{ path('departement_index') }}">Retour à la liste</a>
                          </div>
                        </td>
                      </tr>
                    </table>

 
{% endblock %}
